.faxianchaoliu{
    width: 100%;
    background: url(http://i3.mbscss.com/img/moonbasa/2018/ydw/M4_27_161400.jpg) #fff no-repeat top center;
}
.wrappercl{
    width: 1400px;
    margin: 0 auto;
}
.wrappercl2{
        width: 1200px;
    height: 442px + 116;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
